.navbar {
    width: 100%;
    height: 60px;
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar li {
    cursor: pointer;
}

.container {
    padding-top: 90px; 
}


.card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 20px;
}

.card {
    background: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.img-box {
    position: relative;
}

.img-box img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.top-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: red;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.card-btn {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card-btn:hover {
    background: darkblue;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .card-wrapper {
        grid-template-columns: 1fr;
    }
}
