/* / Task 1 / */
.task1-div span {
    color: red;
}

/* Task 2 */
.task2-ul > li {
    background-color: lightblue;
}

/* Task 3 */
h3 + p {
    color: green;
    font-weight: bold;
}

/* Task 4 */
.task4-h1 ~ p {
    color: green;
}

/* Task 5 */
.task5-ol li:first-child {
    font-weight: bold;
}
.task5-ol li:last-child {
    font-style: italic;
}

/* Task 6 */
.task6-btn:hover {
    background-color: yellow;
    color: black;
}

/* Task 7 */
input:focus {
    border: 2px solid blue;
    background-color: #e0f0ff;
}

/* Task 8 */
.task8-para::first-letter {
    font-size: 40px;
    color: red;
    font-weight: bold;
}

/* Task 9 */
.task9-h2::before {
    content: "✨ ";
}

/* Task 10 */
.task10-para::selection {
    background-color: black;
    color: yellow;
}
